<!DOCTYPE html>
<html>
    <head>
        <title>College_Predictor</title>
        
        <link rel="icon"  href="images/logo.jpg">
        <link rel="stylesheet" href="css/style.css" >
    </head>
    
    <body> 
        <marquee class="patti">
            STAY TUNED FOR THE UPCOMING UPDATES
        </marquee>
        <div class="banner" >
             <div class="navbar">
                
                <img src="images/logo1.png" class="logo">
                <ul>
                    {{!-- <li><a href="#" >Home</a></li> --}}
                    <li><a href="/cutoff" >college Cutoffs</a></li>
                    <li><a href="https://timesofindia.indiatimes.com/topic/maharashtra-cet/news" target="_blank">News / Articles</a></li>
                    <li><a href="/login" >login / register </a></li>
                    <li><a href="/contactus" >Help</a></li>
                </ul>

                {{!-- <div class="profile">
                    <img src="images/Profile.png" alt="img">
                </div> --}}
            </div>
            
            <div class="content" >
                <h1>PREDICT YOUR FUTURE</h1>
                <p>We predict the best colleges based on your marks/percentiles and guide<br> you throughout the admission process in Maharashtra(MHT – CET).</p>
                <div class="getstarted">
                    <a href="/login" ><button type="button" >GET STARTED</button></a>
                </div>
            </div>
        </div>
        <div class="header">
            <h1>Top colleges in Maharashtra</h1>
        </div>
        <div class="container2"><a href="https://www.dypcoeakurdi.ac.in/" target="_blank">
            <div class="clgs">
                <img src="images/dyplogo.png"  alt="dyp">
                <h3>DY Patil College Of Engineering,Pune</h3></a>
                
            </div>
            <div class="clgs"><a href="https://pict.edu/" target="_blank">
                <img src="images/pict.png"  alt="pict">
                <h3>Pune Institute of Computer Technology</h3></a>
            </div>
            <div class="clgs"><a href="https://www.vit.edu/" target="_blank">
                <img src="images/vit.png"  alt="vit">
                <h3>Vishwakarma Institute of Technology</h3></a>
            </div>
            <div class="clgs"><a href="https://www.coep.org.in/" target="_blank">
                <img src="images/coep.png"  alt="coep">
                <h3>College Of Engineering,Pune</h3></a>
               
            </div>
            <div class="clgs"><a href="http://www.pccoepune.com/" target="_blank">
                <img src="images/pccoe.png"  alt="pccoe">
                <h3>Pimpari Chinchwad College Of Engineering</h3></a>

            </div>
            <div class="clgs"><a href="https://www.mitalandicampus.edu.in/" target="_blank">
                <img src="images/mit.png"  alt="mit">
                <h3>MIT Academy of Engineering Alandi, Pune</h3></a>
            </div>
            <div class="clgs"><a href="https://gcoeara.ac.in/" target="_blank">
                <img src="images/gvtavsari.png"  alt="sinhgad">
                <h3>Government College of Engineering, Avasari</h3></a>
            </div>
            <div class="clgs"><a href="https://aissmscoe.com/" target="_blank">
                <img src="images/AISSMS.png"  alt="AISSMS">
                <h3>AISSMS College of Engineering, Pune</h3></a>
            </div>
            <div class="clgs"><a href="https://www.pvgcoenashik.org/" target="_blank">
                <img src="images/pvg.png"  alt="pvg">
                <h3>PVG's College of Engineering, Nashik</h3></a>
            </div>
        </div>

    </body>
    
</html>
