<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"  href="logo.jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College_Predictor_login</title>
</head>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1; border-radius: 20px;}

input[type=text], input[type=password],input[type=email]
 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

button {
  background-color: #f8bc06;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;

}

button:hover {
  opacity: 0.9;
}

.cancelbtn {
  width: auto;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #f44336;
  border-radius: 10px;
  margin-left: 20px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw a{
  float: right;
  padding-top: 16px;  
  color: white;
}
span.psw a:hover {
  color: skyblue;
  opacity: 1;
  
  
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.banner{
    
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
}
label{
    color: white;
    margin-left: 20px;
}
/* .banner h3{
    text-align: center;

} */
.banner1{
    width: 40%;
    position: absolute;
    top: 50px;
}
</style>
<body>
        <div class="banner">
            <h3>Log In / Register</h3>
            <div class="banner1">
                <form id="loginform" action="/login" method="post">
                    <div class="imgcontainer">
                      <img src="images/lusername.png " alt="Avatar" class="avatar">
                    </div>
                  
                    <div class="container">
                      <label for="uname"><b>Username</b></label>
                      <input type="email" placeholder="Enter Registered Email" name="email" required>
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" required>
                  
                      <button type="submit">Login</button>
                      {{!-- <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                      </label> --}}
                    </div>
                  
                    <div class="container" >
                      <a href="/signup"><button type="button" class="cancelbtn">Sign Up</button></a>
                      <!-- <h4 style="color:white;">Doesn't have account </h4> -->
                      <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
                      {{!-- <span class="psw"> <a href="#" >Forgot Password?</a></span> --}}
                    </div>
                  </form>
            </div>
        </div>
</body>

</html>